name: InnerEye
channels:
  - defaults
  - pytorch
  - conda-forge
dependencies:
  - cudatoolkit=11.3
  - pip=20.1.1
  - python=3.7.3
  - pytorch=1.10.0
  - python-blosc=1.7.0
  - torchvision=0.11.1
  - pip:
      - azure-mgmt-resource==12.1.0
      - azure-mgmt-datafactory==1.1.0
      - azure-storage-blob==12.6.0
      - azureml-mlflow==1.36.0
      - azureml-sdk==1.36.0
      - azureml-tensorboard==1.36.0
      - conda-merge==0.1.5
      - cryptography==3.3.2
      - cucim==21.10.1; platform_system=="Linux"
      - dataclasses-json==0.5.2
      - docker==4.3.1
      - flake8==3.8.3
      - gitpython==3.1.7
      - gputil==1.4.0
      - h5py==2.10.0
      - ipython==7.31.1
      - imageio==2.15.0
      - InnerEye-DICOM-RT==1.0.1
      - joblib==0.16.0
      - jupyter==1.0.0
      - jupyter-client==6.1.5
      - lightning-bolts==0.4.0
      - matplotlib==3.3.0
      - mlflow==1.23.1
      - monai==0.6.0
      - mypy==0.910
      - mypy-extensions==0.4.3
      - numba==0.51.2
      - numpy==1.19.1
      - numba==0.51.2
      - opencv-python-headless==4.5.1.48
      - pandas==1.1.0
      - papermill==2.2.2
      - param==1.9.3
      - pillow==9.0.0
      - psutil==5.7.2
      - pydicom==2.0.0
      - pyflakes==2.2.0
      - PyJWT==1.7.1
      - pytest==6.0.1
      - pytest-cov==2.10.1
      - pytest-forked==1.3.0
      - pytest-xdist==1.34.0
      - pytorch-lightning==1.5.5
      - rich==10.13.0
      - rpdb==0.1.6
      - ruamel.yaml==0.16.12
      - runstats==1.8.0
      - scikit-image==0.17.2
      - scikit-learn==0.23.2
      - scipy==1.5.2
      - seaborn==0.10.1
      - simpleitk==1.2.4
      - six==1.15.0
      - stopit==1.1.2
      - tabulate==0.8.7
      - tensorboard==2.3.0
      - tensorboardX==2.1
      - torchio==0.18.73
      - torchmetrics==0.6.0
      - umap-learn==0.5.2
      - yacs==0.1.8
