name: InnerEye
channels:
  - defaults
  - pytorch
dependencies:
  - pip=20.1.1
  - python=3.7.3
  - pytorch=1.6.0
  - python-blosc==1.7.0
  - torchvision=0.7.0
  - pip:
      - git+https://github.com/analysiscenter/radio.git@6d53e25#egg=radio
      - azure-mgmt-resource==10.2.0
      - azureml-mlflow==1.17.0
      - azureml-sdk==1.17.0
      - azureml-tensorboard==1.17.0
      - blobxfer==1.9.4
      - dataclasses-json==0.5.2
      - flake8==3.8.3
      - gitpython==3.1.7
      - gputil==1.4.0
      - h5py==2.10.0
      - joblib==0.16.0
      - jupyter==1.0.0
      - jupyter-client==6.1.5
      - matplotlib==3.3.0
      - mlflow==1.11.0
      - mypy==0.770
      - mypy-extensions==0.4.3
      - numpy==1.19.1
      - pandas==1.1.0
      - papermill==2.1.2
      - param==1.9.3
      - pillow==7.2.0
      - psutil==5.7.2
      - pyflakes==2.2.0
      - PyYAML==5.3.1
      - pytest==6.0.1
      - pytest-cov==2.10.1
      - pytest-forked==1.3.0
      - pytest-xdist==1.34.0
      - rich==5.1.1
      - rpdb==0.1.6
      - scikit-image==0.17.2
      - scikit-learn==0.23.2
      - scipy==1.5.2
      - seaborn==0.10.1
      - simpleitk==1.2.4
      - six==1.15.0
      - stopit==1.1.2
      - tabulate==0.8.7
      - tensorboard==2.3.0
      - tensorboardX==2.1
      - torchprof==1.1.1

