name: PR-$(Date:yyyyMMdd)$(Rev:-r)
variables:
  model: 'BasicModel2Epochs'
  train: 'True'
  more_switches: '--log_level=DEBUG'
  run_recovery_id: ''
  tags: 'PR'
  user_friendly_name: 'PR build'
  number_of_cross_validation_splits: 0

jobs:
  - job: Windows
    pool:
      vmImage: 'windows-2019'
    steps:
      - template: build.yaml

  - job: Linux
    pool:
      vmImage: 'ubuntu-18.04'
    steps:
      - template: build.yaml

  - job: TrainInAzureML
    variables:
      - template: ../InnerEye/settings.yml
      - name: cluster
        value: 'training-nc12'
    pool:
      vmImage: 'ubuntu-18.04'
    steps:
      - template: train_template.yml
        parameters:
          wait_for_completion: 'True'
          pytest_mark: 'gpu'
          more_switches: '--use_dataset_mount=True --local_dataset=F:\local'
      - task: PublishTestResults@2
        inputs:
          testResultsFiles: '**/test-*.xml'
          testRunTitle: 'tests_on_AzureML'
        condition: succeededOrFailed()
        displayName: Publish test results

  - job: TrainInAzureMLViaSubmodule
    variables:
      - template: ../InnerEye/settings.yml
      - name: cluster
        value: 'training-nc12'
    pool:
      vmImage: 'ubuntu-18.04'
    steps:
      - template: train_via_submodule.yml
        parameters:
          wait_for_completion: 'True'
          more_switches: '--use_dataset_mount=True'
