steps:
  - template: checkout_and_settings.yml

  - task: CredScan@3
    condition: and(succeeded(), eq( variables['Agent.OS'], 'Windows_NT' ))

  - task: PostAnalysis@1
    condition: and(succeeded(), eq( variables['Agent.OS'], 'Windows_NT' ))
    displayName: 'Post Analysis'
    inputs:
      CredScan: true

  - script: echo %NUMBER_OF_PROCESSORS%
    condition: and(succeeded(), eq( variables['Agent.OS'], 'Windows_NT' ))
    displayName: Print processors

  - bash: |
      conda env create --file environment.yml --name InnerEye --quiet
      source activate InnerEye
      echo "Environment has been created with these packages:"
      pip freeze
    failOnStderr: false # Conda env create does not have an option to suppress warnings generated in wheel.py
    condition: succeeded()
    displayName: Create conda environment

  - task: ComponentGovernanceComponentDetection@0
    condition: succeeded()
    inputs:
      scanType: 'Register'
      verbosity: 'Normal'
      alertWarningLevel: 'High'
      failOnAlert: true
      failOnStderr: true

  - bash: |
      source activate InnerEye
      flake8
    failOnStderr: true
    condition: succeeded()
    displayName: flake8

  - bash: |
      source activate InnerEye
      python mypy_runner.py
    failOnStderr: true
    condition: succeededOrFailed()
    displayName: mypy

  # Pytest needs subscription information directly in settings.yml. Local package install will cause use of
  # the wrong default project root, hence InnerEyePrivateSettings.yml can't be picked up.
  - bash: |
      sed -i -e "s/subscription_id: ''/subscription_id: '$(InnerEyeDevSubscriptionID)'/" InnerEye/settings.yml
      sed -i -e "s/application_id: ''/application_id: '$(InnerEyeDeepLearningServicePrincipalID)'/" InnerEye/settings.yml
    displayName: Store subscription in settings.yml

  # Install the InnerEye package without its dependencies. We have already create an environment that has everything
  # the package needs. If --no-deps is omitted, this causes a weird package conflict with azure-storage-blob
  - bash: |
      source activate InnerEye
      python setup.py develop --no-deps
    env:
      IS_DEV_PACKAGE: True
    failOnStderr: false
    condition: succeeded()
    displayName: Install InnerEye (Dev) Package

  # First run all tests that require the InnerEye package. All code should be consumed via the InnerEye package,
  # hence don't set PYTHONPATH
  - bash: |
      source activate InnerEye
      pytest ./Tests/ -m "not gpu and not azureml" --doctest-modules --junitxml=junit/test-results.xml --cov=. --cov-report=xml --cov-report=html -n 2 --dist=loadscope --verbose
    env:
      APPLICATION_KEY: $(InnerEyeDeepLearningServicePrincipalKey)
      DATASETS_ACCOUNT_KEY: $(InnerEyePublicDatasetsStorageKey)
    failOnStderr: false
    condition: succeededOrFailed()
    displayName: Run pytests on InnerEye package

  # Run all tests for code that does not live in the InnerEye package. For that, set PYTHONPATH
  - bash: |
      source activate InnerEye
      pytest ./TestsOutsidePackage -n 2 --dist=loadscope --verbose
    env:
      PYTHONPATH: $(Build.SourcesDirectory)/
      APPLICATION_KEY: $(InnerEyeDeepLearningServicePrincipalKey)
    failOnStderr: false
    condition: succeededOrFailed()
    displayName: Run pytests on code outside package

  - task: PublishTestResults@2
    inputs:
      testResultsFiles: '**/test-*.xml'
      testRunTitle: 'tests_on_$(Agent.OS)'
    condition: succeededOrFailed()
    displayName: Publish test results tests_on_$(Agent.OS)

  - task: PublishCodeCoverageResults@1
    inputs:
      codeCoverageTool: Cobertura
      summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/coverage.xml'
      reportDirectory: '$(System.DefaultWorkingDirectory)/**/htmlcov'
    condition: succeededOrFailed()

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: 'drop'
      publishLocation: 'Container'
