steps:
  - template: checkout_windows.yml

  - task: CredScan@3
    condition: and(succeeded(), eq( variables['Agent.OS'], 'Windows_NT' ))

  - task: PostAnalysis@1
    condition: and(succeeded(), eq( variables['Agent.OS'], 'Windows_NT' ))
    displayName: 'Post Analysis'
    inputs:
      CredScan: true

  - task: ComponentGovernanceComponentDetection@0
    condition: succeeded()
    inputs:
      scanType: 'Register'
      verbosity: 'Normal'
      alertWarningLevel: 'High'
      failOnAlert: true
      failOnStderr: true
