# This pipeline assumes that there is a Conda environment AzureRunner already.
# It will update AzureRunner to include all packages needed for InnerEye, run pytest, and publish the test results.
steps:
  # The run ID of the training run is now available in most_recent_run.txt.
  - bash: |
      source activate AzureRunner
      pytest ./Tests -m "${{parameters.pytest_mark}}" --junitxml=junit/test-${{parameters.test_run_title}}.xml
    env:
      PYTHONPATH: $(Build.SourcesDirectory)
      APPLICATION_KEY: $(InnerEyeDeepLearningServicePrincipalKey)
      BUILD_BRANCH: $(Build.SourceBranch)
    displayName: Run pytests that require training run

  - task: PublishTestResults@2
    inputs:
      testResultsFiles: junit/test-${{parameters.test_run_title}}.xml
      testRunTitle: ${{parameters.test_run_title}}
    condition: succeededOrFailed()
    displayName: Publish test results ${{parameters.test_run_title}}
